.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix {	*zoom: 1; }

.clear { clear: both; }

.visuallyhidden {
	position: absolute;
	width: 1px; /* Setting this to 0 make it invisible for VoiceOver */
	height: 1px; /* Setting this to 0 make it invisible for VoiceOver */
	padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;    
}

.ir {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.break {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.ellipsis {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis; /* Required for IE8 */
	-o-text-overflow: ellipsis; /* Required for Opera */
	text-overflow: ellipsis;
}

pre {
	white-space: pre-wrap;       /* Chrome & Safari */
	white-space: -moz-pre-wrap;  /* Mozilla since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.f-right { float: right; }
.f-left { float: left; }

.hide { display: none; }
.show { display: block; }

.m-top { margin-top: 20px; }
.m-bottom { margin-bottom: 10px; }
.m-right { margin-right: 10px; }
.m-left { margin-left: 10px; }
.m-top-50 { margin-top: 50px; }

.m-top-2 { margin-top: 20px; }
.m-bottom-2 { margin-bottom: 20px; }
.m-right-2 { margin-right: 20px; }
.m-left-2 { margin-left: 20px; }

.p-top { padding-top: 10px; }

.w-1-1-i { width: 100% !important; }
.w-1-1 { width: 100% }
.w-1-2 { width: 50%; }
.w-1-3 { width: 33%; }
.w-1-4 { width: 25%; }

.w-2-3 { width: 66%; }
.w-3-4 { width: 75%; }

.white-space-wrap { white-space: normal; }

.border-right {
	border-right: 1px dashed #ddd;	
}

.text-center { text-align: center; }

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.link {
	text-decoration: none;
	color: #08C;
	transition: all 0.3s ease-out;
	position: relative;
	padding: .5em;
	margin: -.5em;
}

.link:hover { color: #0AF; }

/* `BUTTONS
--------------------------------------------------------------------------------*/

.button,
.button.ui-button,
.ui-datepicker-buttonpane button {
    background-color: #4dbd74;
    border: 1px solid #4dbd74;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    height: 32px;
    line-height: 2.5;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -ms-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-shadow: none !important;
    cursor: pointer;
    width: auto;
}

.button.default {
	color: rgb(68,68,68);
	background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
	border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    font: inherit;
    font-size: 13px;
    height: 32px;
    line-height: 2.5;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -ms-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-shadow: none !important;
    cursor: pointer;
    width: auto;
}

.button.default img {
	margin-left: 10px;
}

.button.default:hover {
	color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}



.ui-datepicker-buttonpane button {
    background-color: #f5f5f5 !important;
    padding: 0 8px !important;
}

.button.ui-button .ui-button-text {
    padding: 0;
}

.button:hover,
.ui-datepicker-buttonpane button:hover {
    background-color: #3ea662;
    border: 1px solid #3ea662;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.button:focus {
    outline: none;
}

.button:active {
    background-color: #627399;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
}

.button.light-blue:hover { background-color: #31b7ea; }
.button.light-blue,
.button.light-blue:active { background-color: #00acee; border-color: #00a0dd;}

.button.blue:hover { background-color: #416bad; }
.button.blue,
.button.blue:active { background-color: #3861a2; border-color: #3861a2;}

.button.red:hover { background-color: #ee4f3e; }
.button.red,
.button.red:active { background-color: #d73927; border-color: #cc3423; }

.button.green:hover { background-color: #33c5bf; }
.button.green,
.button.green:active { background-color: #198883; border-color: #64a813; }

.back-btn {
	color: #737a8d;
	font-size: 15px;
	background: none;
	border: none;
	margin-left: 15px;
	border-bottom: 2px solid #737a8d;
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
	opacity: 0.4;
	filter: Alpha(Opacity=40);
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;	
}

/* `INPUT ELEMENTS
--------------------------------------------------------------------------------*/

input[type="text"],
input[type="password"],
textarea,
select {
	border: 1px solid #d5d5d5;
	border-top-color: #c5c5c5;
	color: #555;
	font-size: 13px;
	padding: 5px 7px;
    margin: 2px 0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.ui-widget input {
    font-size: 13px;
}

textarea {
    min-height: 70px;
    font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
    margin: 2px 0;
}

	input[type="text"]:hover,
	input[type="password"]:hover,
	textarea:hover,
	select:hover {     
		border-color: #bbb;
		border-top-color: #aaa;
	}
	
	input[type="text"]:focus,
	input[type="password"]:focus,
	textarea:focus,
	select:focus,
	.ui-selectonemenu.ui-state-focus {
	    outline: none;
	    border-color: #1abeff !important;
	    -webkit-box-shadow: inset 0 1px 2px 1px #d5d5d5;
	    -o-box-shadow: inset 0 1px 2px 1px #d5d5d5;
	    -moz-shadow: inset 0 1px 2px 1px #d5d5d5;
	    box-shadow: inset 0 1px 2px 1px #d5d5d5;
	}

    textarea {
        
    }
    
select {
   height: 33px;
   padding: 0;
}

input::-webkit-input-placeholder { color: #d1d1d1!important; }
input:-moz-placeholder { color: #d1d1d1!important; }
.ui-watermark {	color: #d1d1d1 !important; }
input:-ms-input-placeholder { color: #d1d1d1 !important; }

.error {	
	color: #e74c3c;
}

.fade-in {
	-webkit-animation: opacity 0.2s linear 1;
	-moz-animation: opacity 0.2s linear 1;
	animation: opacity 0.2s linear 1;
}