<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>dst</display-name>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_BUFFER_SIZE</param-name>
		<param-value>1024</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.UPLOADER</param-name>
		<param-value>auto</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.FONT_AWESOME</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.developmentMode</param-name>
		<param-value>true</param-value>
	</context-param>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.infosystema.study_abroad.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.xhtml</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>org.infosystema.study_abroad.filter.SecurityFilter</filter-class>
		<init-param>
			<param-name>public</param-name>
			<param-value>/faces_resources|/esia-login|/reindex|/esia-auth|/view/RES_NOT_FOUND|/RES_NOT_FOUND|/index.jsp.*|/view/user/login.*|/view/user/register.*|/view/user/check.*|/check-document.*|/check-esf.*|/inspector/user/register.xhtml|/view/apps/.*|/view/home.*</param-value>
		</init-param>
		<init-param>
			<param-name>logged</param-name>
			<param-value>/|/download|/view/main.xhtml|/view/empty.xhtml|/view/jasper_viewer.xhtml|/jasper|/view/user/change_password.xhtml.*|/view/jasper_viewer.xhtml|/inspector/user.*|/view/.*|/view/profile/.*|/view/report/.*|/applications/.*|/view/mentors/.*|/view/students/.*|/view/map/.*|/view/subdivision/.*</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<multipart-config>
			<max-file-size>104857600</max-file-size>
			<max-request-size>418018841</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/view/main.xhtml</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>javax.enterprise.context.NonexistentConversationException</exception-type>
		<location>/view/main.xhtml?nocid=true</location>
	</error-page>
	<mime-mapping>
		<extension>woff</extension>
		<mime-type>application/font-woff</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>ico</extension>
		<mime-type>image/x-icon</mime-type>
	</mime-mapping>
</web-app>